<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %> </h2>
    <p> <%= restaurant.description %></p>
      <%= restaurant.reviews.map {|x| x[:thoughts]}.join(', ') %>
      <%= restaurant.reviews.map {|x| x[:ratings]}.join(', ') %>
    <p> <%= link_to "Leave review for #{restaurant.name}", new_restaurant_review_path(restaurant) %> </p>
    <p> <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %> </p>
    <p> <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %> </p>
    <% end %>
  <% else %>
    <h1>No Restaurants yet</h1>
  <% end %>
<br>
<a href='/restaurants/new'>Add a restaurant</a>
